# library files
*.aar
shinobicontrols-android-charts-premium-java-1.9.5-3/
shinobicharts-android-advanced-charting-kit-standard-java-1.0.1-0/

# Ignore gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
**/local.properties

# Android Studio / Intellij IDEA (see https://medium.com/sebs-top-tips/share-the-settings-with-the-whole-team-android-studio-protip-6-3cce16eb2ea4#.9uoecqeff)
# Also see http://stackoverflow.com/questions/7527982/applying-gitignore-to-committed-files#answer-7532131 for how to remove files from git without deleting locally
# See also https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems
*.iml

# Random file that was being ignored but should not be
.idea/
app/libs/
